<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="Images/sprite.svg#easy"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima labore
      libero incidunt sed voluptatibus laudantium similique culpa ad unde natus!
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="Images/easy.webp 1x, Images/easy@2x.webp 2x"
    />
    <source
      type="image/jpg"
      srcset="Images/easy.jpg 1x, Images/easy@2x.jpg 2x"
    />
    <img class="feature__image" src="Images/easy@2x.jpg" alt="" />
  </picture>
</article>
